{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>New Page</h1>

    <form action="{% url 'new_page' %}" method="POST">
        {% csrf_token %}
        <lable>Title:</lable>
        <input name="title" placeholder="Enter a title" autofocus autocomplete="off" type="text">
        <br>
        <br>
        <label>Markdown Content</label>
        <br>
        <textarea name="content"></textarea>
        <br>
        <input class="btn btn-primary" value="New Page" type="submit">
    </form>

{% endblock %}